/* App.css */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-height: calc(100vh - 4rem); */
  background: linear-gradient(135deg, #78c4b6, #f0f0f0); 
  /* Gradient background */
  margin:  auto;
  padding: 2rem;
  text-align: center;
}

.wormhole-container {
  position: relative;
  margin: 2rem auto;
  max-width: 420px;
  border-radius: 20px;
  padding: 3px; /* This creates space for the border gradient */
  background: #fff;
  /* background: linear-gradient(45deg, #000, #1a1928, #000); */
  background-size: 200% 200%;
  animation: gradientBorder 3s ease infinite;
}

.wormhole-container:hover {
  box-shadow: 0 15px 30px rgba(120, 196, 182, 0.4); /* Enhanced glow on hover */
  transform: translateY(-2px); /* Slight lift effect */
}

.wormhole-container > div {
  border-radius: 18px; /* Slightly less than container to account for border */
  overflow: hidden;
  background: #000; /* Match your theme background */
}

h1 {
  color: #000; /* Using your primary color */
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

p {
  color: #000;
  font-size: 1.2rem;
  opacity: 0.9;
}